
.main {
    height: 200vh;
    background: #111315;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('public/bg-cafe-lg.jpg');
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    .main::before {
        background: url('public/bg-cafe.jpg');
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    .main {
        height: 300vh;
    }
}
