@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-dmSans: "DM Sans", serif;
  --color-primary: #1B1D1F;
  --color-secondary: #111315;
  --color-grayV1: #6F757C;
  --color-grayV2: #4D5562;
  --color-green: #BEE3CC;
  --color-yellow: #F6C768;
  --color-red: #ED735D;
  --spacing-card: 260px;
  --text-tiny: .8rem;
}
